*{
	margin:0px;
	padding:0px;
}
.hed{
	background-color: #1f4645;
    width: 100%;
    height: 8%;
    position: absolute;
    z-index: 1;
	border: 0px solid;
	box-shadow: 0px 9px 30px #239da5;
}
.lef{
	background-color:#fff;
	width:18%;
	height:100%;
	border-right: 2px solid #000;
overflow: hidden;
    position: absolute;
	z-index: 1;

}
.user-img{
	width:30%;
	height:10%;
	    border-radius: 50px;
}
 
.name{
	position: absolute;
   margin-top: 18px;
    left: 90px;
    font-size: 25px;
}
.us{
padding: 8px;
  	
}
.us:hover{
	background-color:#204847;
	color:#fff;
}/*
.main{
	background-image:url('pc.jpg');
	position:absolute;
	width:100%;
	height:100%;
	    top: 0px;

    z-index: -1;
}*/
.send{
	
    width: 82%;
    height: 7%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.chat{
	    width: 95%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 55px;
}
.inpo{
	width: 89%;
    height: 100%;
	border-radius: 17px;
	padding: 20px;
    font-size: larger;
    font-style: oblique;
    font-family: emoji;
}
.btn{
	position: absolute;
    width: 10%;
    height: 100%;
    border: 0px solid;
    border-left: 0px;
    border-top: 0px solid #000;
    right: 7px;
    bottom: 0px;
       border-radius: 13px;
    background-color: #b6bbb6;
}
.sendbtn{
	width:50px;
	height:45px;
}
.sendbtn1{
	width:50px;
	height:45px;
}
.btn1{
	    position: absolute;
    bottom: 0px;
    background-color: #b6bbb600;
    border: 1px solid #ff000000;
}
.btn:hover{
	background-color:#204847;
}
.btn1:hover{
	background-color:#204847;
	}
	.user-imgs{
		width: 8%;
    height: 100%;
	}
	.box{
		    width: 82%;
    height: 100%;
 
    position: absolute;
    right: 0px;
	}
	.le{
		    color: #ffffff;
    float: right;
    position: absolute;
    right: 30px;
    top: 0px;
}
	
	.le:hover{
		background-color:#267775;
	}
	.nn{
		position: absolute;
    top: 15px;
    left: 100px;
    color: #fff;
	}
	